<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'product:items' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'profiles:create-user' %}">Create User</a></li>
                {% endif %}
              <li><a class="dropdown-item" href="{% url 'profiles:profile' %}">Profile</a></li>
              {% comment %} <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Items
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'product:add_items' %}">Add Item</a></li>
              <li><a class="dropdown-item" href="{% url 'product:all_request' %}">Requests</a></li>
            </ul>
            
          </li>
    

          <li id="navbar-example" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"  style="max-height: 21em; overflow-y: scroll;">
              {% for wing in wings %}
              <li><a class="dropdown-item" href="{% url 'product:report_wing' wing %}">{{wing}}</a></li>
              {% endfor %}
            </ul>
            
          </li>
      

          <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles:logout' %}">Logout</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles:login' %}">Login</a>
          </li>
          {% endif %}
          

        </ul>
        {% if user.is_authenticated %}
        <form id='searchForm' class="d-flex" role="search" method="get" action="{% url 'product:items' %}">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>