{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block title_block %}
Login 
{% endblock %} 
{% block css_block %}
<style>

    
    .log_in {
        margin-left: 10% ;
        margin-right: 10% ;
        border: 1px solid #ccc;
        padding: 20px;
        
    }
</style>
{% endblock %} 
{% block body_block %}

<br>
<br>
<center>

    <div class="log_in">

        <h2>Login</h2>
        <form method="POST">
            <br>
            {{ form| crispy}} {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-primary btn-md">Login</button>
        </form>

    </div>
  

</center>


{% endblock %}